---js
{
	pagination: {
		data: "states",
		size: 1,
		alias: "state"
	},
	permalink: "/states/{{ state.state | slug }}/all-news/",
	layout: "layouts/state-news.njk",
	eleventyComputed: {
		title: (data) => `All News — ${data.state.state}`,
    description: (data) => `Recent news related to voter registration and voting requirements in ${data.state.state}.`
	}
}
---
