---js
{
	pagination: {
		data: "states",
		size: 1,
		alias: "state"
	},
	permalink: "/states/{{ state.state | slug }}/",
	layout: "layouts/state.njk",
	eleventyComputed: {
		title: (data) => `${data.state.state} Voter Registration and Voting Requirements`,
    description: (data) => `Voter registration and voting requirements for ${data.state.state}, including deadlines, ID requirements, mail-in voting policies, and more.`
	}
}
---
